// Colors
$primary                : #1A3D8E;
$white                  : #ffffff;

$light                  : #f8f9fa;
$dark                   : #212529;
$gray-100              : #f8f9fa;
$gray-200              : #e9ecef;
$gray-300              : #dee2e6;
$gray-400              : #ced4da;
$gray-500              : #adb5bd;
$gray-600              : #6c757d;
$gray-700              : #495057;
$gray-800              : #343a40;
$gray-900              : #212529;
$black                  : #000000;

$body-bg                : $light;
$border-color           : rgba(#dee2e6, .7);


// Typography
$font-family-sans-serif : 'Inter', sans-serif;
$headings-font-family   : 'Bebas Neue', sans-serif;
$font-size-base         : 0.9rem;
$line-height-base       : 1.6;

$h1-font-size           : 2.5rem !important;
$h2-font-size           : 2rem !important;
$h3-font-size           : 1.75rem !important;
$h4-font-size           : 1.5rem !important;
$h5-font-size           : 1.25rem !important;
$h6-font-size           : 1rem !important;

$border-radius          : 0.5rem;
$border-radius-md       : 0.75rem;
$border-radius-lg       : 1rem;
