// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Project
@import 'main';
@import 'components/buttons';
@import 'components/navbar';
@import 'project';

