.btn {
    padding : 1rem 2rem;

    &-primary {
        background : $primary;
        color      : $white;

        &:hover {
            background-color : $dark;
        }
    }

    &-white {
        background : $white;
        color      : $dark;
        border     : 1px solid $border-color;

        &:hover {
            background-color : lighten($white, 10%);
        }
    }

    &-round {
        border-radius : 50rem;
    }

    &:disabled {
        opacity : 1;
        cursor  : not-allowed;
        background: $white;
    }
}
