name: Deploy to testing

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Deploy name'
        required: true
        default: 'Deploy - Testing'

jobs:
  deploy:
    name: Deploy to testing
    runs-on: ubuntu-latest
    steps:
      - uses: shivammathur/setup-php@15c43e89cdef867065b0213be354c2841860869e
        with:
          php-version: '8.4'
      - uses: actions/checkout@v2
      - name: Run npm install
        run: npm install
      - name: Install Dependencies
        run: composer install --prefer-dist
      - name: Directory Permissions
        run: chmod -R 777 storage bootstrap/cache
      - name: Write env file
        run: |
          printf '%s' "${{ secrets.ENV_TESTING }}" > .env
          chmod 600 .env
      - name: Upload .env to server
        uses: appleboy/scp-action@master
        with:
          username: ${{ secrets.SSH_USERNAME }}
          host: ${{ secrets.SSH_HOST }}
          password: ${{ secrets.SSH_PASSWORD }}
          source: ".env"
          target: "~/domains/tm-test.be/public_html/scan-eventicks"
      - name: Deploy to testing
        uses: appleboy/ssh-action@master
        with:
          username: ${{ secrets.SSH_USERNAME }}
          host: ${{ secrets.SSH_HOST }}
          password: ${{ secrets.SSH_PASSWORD }}
          script: 'cd ~/domains/tm-test.be/public_html/scan-eventicks && bash testing_deploy.sh'
